.modal {
    text-align: center;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
}
.modal .close{
 opacity: 1;
}
#login_signup_popup .modal-header{
    border-bottom: none;
}
#login_signup_popup .modal-body{
    padding: 0 40px 20px 40px;
}
#login_signup_popup .modal-dialog{
    width: 700px;
}
#login_signup_popup input.form-control{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    height: 38px;

    position: relative;
    padding: 0 10px 0 35px;
}
#login_signup_popup .input_field{
    position: relative;
    width: 100%;
    float: left;
    margin-bottom: 15px;
}
#login_signup_popup .input_field:before{
    font-family: "FontAwesome";
    position: absolute;
    font-size: 20px;
    z-index: 2;
    color: #9a9a9a;
}
#login_signup_popup .user_name:before{
    content: "\f007";
    left: 13px;
    top: 4px;
}
#login_signup_popup .user_email:before{
    content: "\f0e0";
    left: 12px;
    top: 7px;
    font-size: 18px;
}

#login_signup_popup .user_password:before{
    content: "\f13e";
    left: 14px;
    top: 6px;
}
#login_signup_popup form button{
    text-decoration: none;
    color: #fff;
    background: #80b5e1;
    padding: 10px 40px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1em;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    position: relative;
    z-index: 1;
    border: 0;
    margin-bottom: 15px;
}
#login_signup_popup form button:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
#login_signup_popup form button:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
#login_signup_popup label{
    font-weight: 400;
    cursor: pointer;
}
.home_slider .shop-content{
    height: auto!important;
}
.home_slider .col_1_of_3{
    margin: 0 10px!important;
}
.home_slider .slick-prev:before,.home_slider .slick-next:before{
    color: #000;
}
.cssmenu ul li{
    margin: 0 10px;
}
.cssmenu ul li:last-child{
    margin: 0;
}
.cssmenu ul li a{
    font-size: 15px;
}
.cssmenu .dropdown-menu li{
    display: block!important;
    margin: 0!important;
}
.header_top {
    padding: 6px 0;

}
.header_top .btn-default{
    background-color: #d756bb;
    color: #fff;
    border-color: #bb75bf;
}
.header_top .btn-default:hover,.header_top .btn-default:focus,.header_top .btn-default:active,.header_top .open .dropdown-toggle.btn-default{
    outline: none;
    color: #fff!important;
    background-color: #d756bb!important;
    border-color: #bb75bf!important;
}
.header-bottom-right .box_11 {
    position: relative;
}
.cart_dropdown{
    position: absolute;
    top: 40px;
    right: 0;
    min-width: 500px;
    padding: 15px 0;
    border: 1px solid #80b5e1;
    z-index: 2;
    background-color: #fff;
    display: none;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.cart_dropdown img{
    max-width: 80px;
    border: 1px solid #ddd;
}
.cart_dropdown td{
    border-bottom: 1px solid #ddd;
}
.cart_dropdown h2{
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 700;
}
.cart_dropdown table{
    margin-bottom: 0;
}
.cart_dropdown .total_price{
   font-weight: 700;
}
@media only screen and (max-width: 800px){
    #login_signup_popup .modal-dialog{
        width: 90%;
    }

}
@media only screen and (max-width: 700px){
    .cart_dropdown{
        min-width: inherit;
    }
}
@media only screen and (max-width: 500px){
    #login_signup_popup .modal-body {
        padding: 0 20px 20px 20px;
    }
}
