/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
   font-family: 'Lato', sans-serif;
   font-size: 100%;
   background:#fff; 
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
}
.header_top{
	background: #f7f7f7;
	/*padding: 2px 0;*/
	border-bottom: 1px solid #EFEFEF;
}
.wrap-box {
  background: -webkit-linear-gradient(left,  #00caea 0%,#40fdcf 0%,#ee3db8 100%);
  background: linear-gradient(to right,  #00caea 0%,#40fdcf 0%,#ee3db8 100%);
  padding:2px;
}
.one-fifth {
	/*width:10.4%;*/
}
.header_brands{
	position: relative;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 70px;
	height: 50px;
	margin-left:3px;
	cursor:pointer;
}
.header_brands .active_brand{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background: rgba(65, 128, 209, 0.4);
	z-index: 2;
}

.column {
	float: left;
	position: relative;
}
.selection-box {
	display: block;
	position: relative;
}
.search-form .column input[type="text"], .search-form .column input[type="submit"], .search-form .column select {
	width: 100%;
}
.selection-box select {
	background: #FFFFFF;
}
.search-form .column .selection-box:after {
	height: 46px;
}
.search {
	background: #fff;
  border: 1px solid #ddd;
  position: relative;
  float: left;
}
.search input[type="text"] {
	border: none;
	outline: none;
	background: none;
	font-size:0.85em;
    color:#999;
	width:150px;
	padding:7px;
	-webkit-apperance:none;
	margin:0;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
}
.search input[type="text"]:focus{
	width:160px;
}
.search input[type="submit"] {
	  border: none;
	  text-indent: -9999px;
	  outline: none;
	  cursor: pointer;
	  background: url("../images/search1.png") no-repeat 2px 6px;
	  width: 30px;
	  height: 37px;
	  padding: 8px;
}	
.search input[type="submit"]:active {
	position:relative;
}
.selection-box:before, .selection-box:after {
	content: "";
	pointer-events: none;
	position: absolute;
}
.three-fifth {
	width: 59.2%;
}
.three-fifth input[type="text"]{
	background: #fff;
	border: 1px solid #ddd;
	color: #CDCDCD;
	padding: 15px;
	display: block;
	font-size: 16px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	width: 100%;
	outline:none;
}
.one-fifth select {
	background: none;
	background-image: url("../images/arrow.png");
	background-position: left 65px center;
	background-repeat: no-repeat;
	border: none;
	border-radius: 0;
	color: #B8B8B8;
	cursor: pointer;
	display: block;
	font-size: 13px;
	outline: medium none;
	padding: 5px 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	letter-spacing: 1px;
}
.one-fifth input[type="submit"]{
	padding:14px 40px;
}
.cssmenu {
	margin-top: 3px;
}
.cssmenu ul {
	float: right;
	padding: 0;
	margin: 0;
	list-style: none;
}
.cssmenu ul li {
	display: inline-block;
}
.cssmenu ul li {
	display: inline-block;
}
.cssmenu ul li a{
    color: #B8B8B8;
	font-size:13px;
}
.cssmenu ul li a:hover, .h_nav ul li a:hover, .content_box h4 a:hover, ul.list_1 li a:hover, .box_3 h4 a:hover{
	color:#80b5e1;
	text-decoration:none;
}
.logo {
	border-right: 1px solid #E0E0E0;
	padding-left:0;
}
.logo h1{
	  text-transform: uppercase;
      font-size: 1.5em;
 	 font-weight: 800;
     margin: 5px 0 0 0;
}
.logo h1 a span{
	color:#80b5e1;
}
.logo h1 a{
	color:#d756bb;
}
.logo h1 a:hover{
	text-decoration:none;
}
.header_bottom {
   padding:2em 0;
}
/*--menu--*/
/* dCodes Framework:(c) TemplateAccess */
/* start menu */
.h_nav h4{
	border-bottom:1px solid rgb(236, 236, 236);
	font-size: 1.5em;
	color:#000;
	line-height: 1.8em;
	text-transform:uppercase;
	margin-bottom: 4%;
}
.h_nav h4.top{
	margin-top: 12%;
}
.h_nav ul li{
	display: block;
}
.h_nav ul li a{
	display:block;
	font-size:1em;
	color:#777;
	text-transform:capitalize;
	line-height:2.5em;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.h_nav ul li a:hover{
	color:#00405d;
	text-decoration:underline;
}
.header-bottom-left{
	margin-top:13px;
	padding-right:0;
}
.col-xs-6.menu {
  padding-right: 0;
}
.menu{
  width: 82% !important;
}
.header-bottom-right{
	float:right;
	padding-right: 0;
	padding-left: 0;
	margin-top:6px;
}
.header-bottom-right h3{
	font-size:1em;
	font-weight:600;
	color:#000;
	border-bottom:1px solid #E0E0E0;
	margin-bottom:10px;
	padding-bottom:10px;
	padding:10px;
}
.shopping_cart{
	padding:10px;
}
.login_buttons{
	padding:0px 10px 10px;
}
.login_button{
	float:right;
}
.login_button a{
	color:#fff;
	font-size:0.8125em;
	text-transform:uppercase;
	font-weight:600;
	text-decoration:none;
    border: none;
	cursor: pointer;
	padding:5px 10px;
	display: inline-block;
	outline: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	background: #000;
	margin:10px 0 0;
}
.login_button a:hover{
	background:#80b5e1;
}
.check_button{
	float:left;
}
.check_button a{
	color:#fff;
	font-size:0.8125em;
	text-transform:uppercase;
	font-weight:600;
	text-decoration:none;
    border: none;
	cursor: pointer;
	padding:5px 10px;
	display: inline-block;
	outline: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	background: #000;
	margin:10px 0 0;
}
.check_button a:hover{
	background:#80b5e1;
}
/*-- search Box --*/
.banner {
	background: url(../images/slider_pic1.jpg) no-repeat center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	min-height:500px;
}
.banner_desc{
	padding-top:9em;
	position: relative;
}
.banner_desc h1{
	color: #fff;
	font-size: 3.5em;
	font-weight: 900;
	text-transform: uppercase;
}
.banner_desc h2{
	color:#fff;
	text-transform:uppercase;
	font-size:2em;
	font-weight:500;
	letter-spacing:5px;
}
.button {
	display: block;
	z-index: 2;
	text-shadow: none;
	margin-top:2em;
	max-width: none;
}
.button a{
	text-decoration: none;
	color:#fff;
	background:#80b5e1;
	padding: 10px 40px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.2em;
}
/* Bounce To Right */
/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:#000;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
  color: white;
}
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.blog_1{
	width:45%;
	margin-right:10%;
}
.row_2{
	margin-right:0;
	width:45%;
}
h2.m_3 {
  color: #656363;
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom:5em;
}
.span_1_of_3 {
  width:32.2%;
}
.col_1_of_3 {
  display: block;
  float: left;
  margin:0 0 0 1.6%;
}
.col_1_of_3:hover .shop-holder{
	border: 8px solid #80b5e1;
}
.shop-holder{
	border: 8px solid #ebebeb;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.shop-holder .product-img a:last-child {
  position: absolute;
  bottom: -22px;
  right: 30px;
  width: 40px;
  height: 40px;
  background: url(../images/plus.png) no-repeat 8px 8px #42b477;
  color: #fff;
  text-align: center;
  line-height: 33px;
  border: 4px solid #fff;
  font-size: 11px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-top-right-radius: 50%;
  /* border-bottom-right-radius: 50%; */
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.shop-holder .product-img a {
  display: block;
  overflow: hidden;
}
.shop-holder .product-img {
	position: relative;
}
.col_1_of_3:first-child {
  margin-left: 0;
}
.about-block-content {
  background: -webkit-linear-gradient(left,  #00b7ea 0%,#42b477 0%,#247a92 100%);
  background: linear-gradient(to right,  #00b7ea 0%,#42b477 0%,#247a92 100%);
  color: #fff;
  position: relative;
  padding: 40px;
  margin-bottom: 10px;
}
.about-block-content .border-add {
  border: 1px solid #fff;
  left: 10px;
  right: 10px;
  bottom: 10px;
  top: 10px;
}
.border-add {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 2px solid #ebebeb;
}
.about-block-content h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 10px;
  margin-top: 0;
}
.item-inner {
    box-shadow: -12px -12px 0px #E2E2E2;
    -webkit-box-shadow: -12px -12px 0px #E2E2E2;
    -moz-box-shadow: -12px -12px 0px #E2E2E2;
    -o-box-shadow: -12px -12px 0px #E2E2E2;
}
.shop-content > div a {
  font-size: 15px;
  letter-spacing: 2px;
}
.shop-content h3 {
  margin: 0;
  margin-top: 3px;
  font-weight:600;
  font-size:20px;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.shop-content h3:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 20%;
  background-color: #d3d3d3;
}
.shop-content > span {
  font-size: 13px;
  color: #000000;
}
.content_bottom{
	padding:5em 0;
}
.row_3 img{
	border:1px solid #E4E0E0;
}
.row_5{
	padding: 4% 28% 0 5%;
}
.content_bottom-grid{
	background: #FFFFFF;
	padding: 10px;
}
.date-comments, .data-comments{
  position: absolute;
  top: -70px;
  left: -70px;
  text-align: center;
  background: #4c4c4c;
  padding: 20px;
  color: #fff;
  min-width: 170px;
  min-height: 170px;
  text-transform: uppercase;
}
.date-comments .date span.word1 {
  font-size: 36px;
  color:#80b5e1;
  line-height: 30px;
}
.date-comments .date span.word2 {
  font-size: 16px;
    display: block;
}
.shop-holder1{
	border:1px solid #ebebeb;
	margin-bottom: 1em;
}
.shop-holder1:hover{
	border:1px solid #80b5e1;
}
.row_4{
	background: url(../images/pic10.jpg) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  min-height:350px;
}
.menu-recent .date-comments .date span, .blog-index-list .date-comments .date span {
  display: block;
}
.date-comments .comments {
  font-size: 11px;
  text-transform: uppercase;
  padding-top: 30px;
  margin-top: 20px;
  border-top: 1px solid #5e5e5e;
}
/*--content--*/
.content_top{
  padding: 5em 0;
  background: #f5f5f5;
}
.content_box {
  border: 5px solid #f7f6f6;
  text-align: center;
  padding-bottom: 1em;
}
.view {
   overflow: hidden;
   position: relative;
}
.view .mask,.view .content {
   position: absolute;
	overflow: hidden;
	top: 188px;
	left:140px;
}
.view-fifth img {
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.view-fifth .mask, .view-fifth .mask1{
  -webkit-transform: translateX(-300px);
   -moz-transform: translateX(-300px);
   -o-transform: translateX(-300px);
   -ms-transform: translateX(-300px);
   transform: translateX(-300px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.view-fifth:hover .mask, .view-fifth:hover .mask1 {
   -webkit-transform: translateX(0px);
   -moz-transform: translateX(0px);
   -o-transform: translateX(0px);
   -ms-transform: translateX(0px);
   transform: translateX(0px);
}
.view1{
   overflow: hidden;
   position: relative;
}
.mask1 {
  position: absolute;
  top: 20px;
}
.info {
   display: block;
	background: url(../images/label_new.png) no-repeat;
	text-indent: -9999px;
	width: 75px;
	height: 75px;
}
.content_box h4{
	font-size:1.1em;
}
.content_box h4 a{
	color:#666;
}
.content_box p{
	color:#717171;
	font-weight:600;
	font-size:1.1em;
}
h3.m_1{
	color:#656363;
	text-align:center;
	font-size:1.5em;
	text-transform:uppercase;
	 margin-bottom: 2em;
}
/*--footer--*/
.footer {
  border-top: 1px solid rgb(236, 236, 236);
  padding-top: 4em;
}
.box_3 h3{
	color: #515151;
  	font-size: 1.3em;
  	font-weight: 600;
  	margin-bottom:1.5em;
}
.box_3 h4{
	font-size:1em;
	font-weight:600;
}
.box_3 h4 a{
	color:#666;
}
.box_3 p{
	color:#999;
	font-size:0.85em;
	margin-bottom:1.5em;
}
ul.list_1 {
  padding: 0 24% 0 0;
  margin: 0;
  list-style: none;
  float: left;
}
ul.list_1 li a{
	color:#999;
	font-size:0.8125em;
	line-height:2.5em;
}
.address p {
  color: #999;
  font-size: 0.85em;
  line-height: 1.8em;
  margin: 0 0 16px;
  font-style: normal;
}
.address dd {
  color: #96a6a7;
  font-size: 0.85em;
  line-height: 1.8em;
}
ul.footer_social {
  padding: 0;
  list-style: none;
  margin:0;
}
ul.footer_social li {
  display: inline-block;
  margin-right: 10px;
}
ul.footer_social li a i {
  width: 25px;
  height: 25px;
  display: block;
  background: url(../images/img_sprite.png)no-repeat;
}
ul.footer_social li a i.fb {
	background-position:-3px -13px;
}
ul.footer_social li a i.tw {
  	background-position:-26px -14px;
}
ul.footer_social li a i.google{
  	background-position:-55px -14px;
}
ul.footer_social li a i.instagram{
  	background-position:-84px -14px;
}
ul.footer_social li a i:hover{
	opacity:0.5;
}
.copy{
	text-align:center;
}
.copy p{
	color:#999;
	font-size:0.85em;
}
.cards{
	float:right;
}
.footer_bottom{
	  border-top: 1px solid rgb(236, 236, 236);
	  padding:2em 0;
}
.footer_top {
  margin-bottom: 2em;
}
/*--men--*/
/* start women */
.women_main{
	padding:4em 0;
}
.women{
	text-align: left;
	border-bottom: 1px solid #ebebeb;
}
.women h4{
	float:left;
	font-size:1em;
	text-transform:uppercase;
	color: #333333;
}
.women h4{
	color:#555555;
}
.w_nav {
	float:right;
	color:#555555;
	font-size:0.8125em;
	padding:0;
	list-style:none;
}
.w_nav li{
	display: inline-block;
}
.w_nav li a{
	display: block;
	color:#555555;
	text-transform:capitalize;
}
.w_nav li a:hover{
	color: #00405d;
}
.w_sidebar{
	border: 1px solid #EBEBEB;
}
.w_nav1 ul{
	padding:0;
	list-style:none;
}
.w_nav1{
	padding: 20px;
}
.w_nav1 h4{
	text-transform:uppercase;
	color: #589D3E;
	font-size: 1em;
	margin-bottom: 5px;
}
.w_nav1 ul li{
	line-height: 1.5em;
}
.w_nav1 ul li a{
	display: block;
	text-transform:uppercase;
	color: #555555;
	font-size: 0.8725em;
}
.w_nav1 ul li a:hover{
	color:#00405d;
}
.w_nav2{
	padding: 20px;
}
.w_nav2  li{
	line-height: 1.5em;
	display: inline-block;
}
.w_nav2 li a{
	display: block;
	padding: 14px;
}
.w_nav2 li a.color1{
	background:	#0AA5E2;
}
.w_nav2 li a.color2{
	background:	#40E0D0;
}
.w_nav2 li a.color3{
	background:	#B03060;
}
.w_nav2 li a.color4{
	background:	#000080;
}
.w_nav2 li a.color5{
	background:	#E60D41;
}
.w_nav2 li a.color6{
	background:	#45BF55;
}
.w_nav2 li a.color7{
	background:	#FF7F00;
}
.w_nav2 li a.color8{
	background:	#8B4513;
}
.w_nav2 li a.color9{
	background:	#FFD700;
}
.w_nav2 li a.color10{
	background:	#9FA8AB;
}
.w_nav2 li a.color11{
	background:	#C0C0C0;
}
.w_nav2 li a.color12{
	background:	#0AA5E2;
}
.w_nav2 li a.color13{
	background:	#FFCBDB;
}
.w_nav2 li a.color14{
	background:	#B87333;
}
.w_nav2 li a.color15{
	background:	#BFB540;
}
.sky-form .label {
	display: block;
	margin-bottom: 6px;
	line-height: 19px;
}
.w_sidebar h3{
	padding:0 20px 10px;
	font-size: 1em;
	color: #555555;
	text-transform:uppercase;
}
/* radios and checkboxes */
.sky-form {
	margin-top: -10px;
}
.row1{
	outline:none;
	padding: 20px;
	overflow: auto;
	height: 200px;
}
.sky-form.col.col-4 ul {
	padding: 0;
	list-style: none;
}
.sky-form h4{
	margin-top: 10px;
	background: #ECECEC;
	padding: 10px 20px;
	color: #333333;
	text-transform: uppercase;
	margin-bottom: 0;
	font-size:16px;
}
.sky-form section {
	margin-bottom: 20px;
}
.sky-form .label {
	display: block;
	margin-bottom: 6px;
	line-height: 19px;
}
.sky-form .label.col {
	margin: 0;
	padding-top: 10px;
}
.sky-form .input,
.sky-form .select,
.sky-form .textarea,
.sky-form .radio,
.sky-form .checkbox,
.sky-form .toggle,
.sky-form .button {
	position: relative;
	display: block;
}
/* selects */
.sky-form .select i {
	position: absolute;
	top: 14px;
	right: 14px;
	width: 1px;
	height: 11px;
	background: #fff;
	box-shadow: 0 0 0 12px #fff;
}
.sky-form .select i:after,
.sky-form .select i:before {
	content: '';
	position: absolute;
	right: 0;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
.sky-form .select i:after {
	bottom: 0;
	border-top: 4px solid #404040;
}
.sky-form .select i:before {
	top: 0;
	border-bottom: 4px solid #404040;
}
.sky-form .select-multiple select {
	height: auto;
}
/* radios and checkboxes */
.sky-form .radio,.sky-form .checkbox {
	outline:none;
	border:none;
	margin-bottom: 4px;
	padding-left: 27px;
	font-size: 13px;
	line-height: 27px;
	color: #555555;
	cursor: pointer;
	text-transform: capitalize;
	font-weight: normal;
	margin-top: 0;
}
.sky-form .radio{
	text-transform: none;
}
.sky-form .radio:last-child,
.sky-form .checkbox:last-child {
	margin-bottom: 0;
}
.sky-form .radio input,
.sky-form .checkbox input {
	position: absolute;
	left: -9999px;
}
.sky-form .radio i,
.sky-form .checkbox i {
	position: absolute;
	top: 5px;
	left: 0;
	display: block;
	width: 17px;
	height: 17px;
	outline: none;
	border-width: 2px;
	border-style: solid;
	background: #fff;
}
.sky-form .radio i {
	border-radius: 50%;
}
.sky-form .radio input + i:after,
.sky-form .checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.sky-form .radio input + i:after {
	content: '';
	top: 4px;
	left: 4px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
}
.sky-form .checkbox input + i:after {
	content: '';
	top: 3px;
	left: 2px;
	width: 10px;
	height: 7px;
	background: url(../images/tick.png) no-repeat;
	text-align: center;
}
.sky-form .radio input:checked + i:after,
.sky-form .checkbox input:checked + i:after {
	opacity: 1;
}
.sky-form .inline-group {
	margin: 0 -30px -4px 0;
}
.sky-form .inline-group:after {
	content: '';
	display: table;
	clear: both;
}
.sky-form .inline-group .radio,
.sky-form .inline-group .checkbox {
	float: left;
	margin-right: 30px;
}
.sky-form .inline-group .radio:last-child,
.sky-form .inline-group .checkbox:last-child {
	margin-bottom: 4px;
}
/* icons */

.sky-form [class^="icon-"] {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
/* normal state */
.sky-form .input input,
.sky-form .select select,
.sky-form .textarea textarea,
.sky-form .radio i,
.sky-form .checkbox i,
.sky-form .toggle i,
.sky-form .icon-append,
.sky-form .icon-prepend {
	border-color: #e5e5e5;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
}
.sky-form .toggle i:before {
	background-color: #2da5da;
}
/* hover state */
.sky-form .input:hover input,
.sky-form .select:hover select,
.sky-form .textarea:hover textarea,
.sky-form .radio:hover i,
.sky-form .checkbox:hover i,
.sky-form .toggle:hover i {
	border-color:#80b5e1;
}
.sky-form .button:hover {
	opacity: 1;
}
/* focus state */
.sky-form .input input:focus,
.sky-form .select select:focus,
.sky-form .textarea textarea:focus,
.sky-form .radio input:focus + i,
.sky-form .checkbox input:focus + i,
.sky-form .toggle input:focus + i {
	border-color: #2da5da;
}
/* checked state */
.sky-form .radio input + i:after {
	background-color:#80b5e1;
}
.sky-form .checkbox input + i:after {
	color:#80b5e1;
}
.sky-form .radio input:checked + i,
.sky-form .checkbox input:checked + i,
.sky-form .toggle input:checked + i {
	border-color:#80b5e1;
}
/* error state */
.sky-form .state-error input,
.sky-form .state-error select,
.sky-form .state-error textarea,
.sky-form .radio.state-error i,
.sky-form .checkbox.state-error i,
.sky-form .toggle.state-error i {
	background: #fff0f0;
}
/* success state */
.sky-form .state-success input,
.sky-form .state-success select,
.sky-form .state-success textarea,
.sky-form .radio.state-success i,
.sky-form .checkbox.state-success i,
.sky-form .toggle.state-success i {
	background: #f0fff0;
}
/* disabled state */
.sky-form .input.state-disabled input,
.sky-form .select.state-disabled,
.sky-form .textarea.state-disabled,
.sky-form .radio.state-disabled,
.sky-form .checkbox.state-disabled,
.sky-form .toggle.state-disabled,
.sky-form .button.state-disabled {
	cursor: default;
	opacity: 0.5;
}
.sky-form .input.state-disabled:hover input,
.sky-form .select.state-disabled:hover select,
.sky-form .textarea.state-disabled:hover textarea,
.sky-form .radio.state-disabled:hover i,
.sky-form .checkbox.state-disabled:hover i,
.sky-form .toggle.state-disabled:hover i {
	border-color: #e5e5e5;
}
/*-- start scrollpane --*/
.jspContainer{
	overflow: hidden;
	position: relative;
}
.jspPane{
	position: absolute;
	outline: none;
	padding: 20px !important;
}
.jspVerticalBar{
	position: absolute;
	top: 0;
	right:0px;
	width:5px;
	height: 100%;
}
.jspHorizontalBar{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}
.jspCap{
	display: none;
}
.jspHorizontalBar .jspCap{
	float: left;
}
.jspTrack{
	background: #f0f0f0;
	position: relative;
}
.jspDrag{
	background: #777777;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}
.jspHorizontalBar .jspTrack,.jspHorizontalBar .jspDrag{
	float: left;
	height: 100%;
}
.jspArrow{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
	padding: 0;
	margin: 0;
}
.jspArrow.jspDisabled{
	cursor: default;
	background: #80808d;
}
.jspVerticalBar .jspArrow{
	height: 16px;
}
.jspHorizontalBar .jspArrow{
	width: 16px;
	float: left;
	height: 100%;
}
.jspVerticalBar .jspArrow:focus{
	outline: none;
}
.jspCorner{
	background: #eeeef4;
	float: left;
	height: 100%;
}
/*-- cart --*/
.itemContainer{
			width:100%;
			float:left;
		}

		.itemContainer div{
			float:left;
			margin: 5px 20px 5px 20px ;
		}

		.itemContainer a{
			text-decoration:none;
		}

		.cartHeaders{
			width:100%;
			float:left;
		}

		.cartHeaders div{
			float:left;
			margin: 5px 20px 5px 20px ;
		}
.item_add {
  background: url(../images/plus.png) no-repeat 10px 10px #42b477;
  text-align: center;
  font-size: 11px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-top-right-radius: 50%;
  /* border-bottom-right-radius: 50%; */
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  color: #fff;
  width: 35px;
  height: 35px;
  font-size: 0.85em;
  border: none;
  outline:none;
}
.item_add:hover{
	background:url(../images/plus.png) no-repeat 10px 10px  rgb(3, 193, 167);
}
.add3 {
  background: url(../images/buy.png) no-repeat 7px 6px #42b477;
  text-align: center;
  font-size: 11px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-top-right-radius: 50%;
  /* border-bottom-right-radius: 50%; */
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  color: #fff;
  width: 30px;
  height: 30px;
  font-size: 0.85em;
  border: none;
  outline: none;
  margin-left: 60%;
}
.add3:hover{
	background: url(../images/buy.png) no-repeat 7px 6px rgb(3, 193, 167);
}
.box_1-cart {
 float: right;

}
.grid_11 img{
	margin-bottom:1em;
}
.size_2 {
  margin: 0 auto;

  width:60%;
}
.size_2-left {
  float: left;
  margin-right:11%;
}
.size_2-right {
  float: left;
  margin: -4px 0 0 0;
}
.size_1 {
  margin:0.5em 0 1em;
}
span.item_price {
  color: #000;
  font-size:1em;
  font-weight: 700;
  margin-right: 5%;
}
.btn_3{
  border-top-left-radius:0;
  border-top-right-radius:0;
  border-top-right-radius:0;
  /* border-bottom-right-radius: 50%; */
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
  border-top-left-radius:0;
  border-bottom-left-radius:0;
}
.item_quantity {
  border: 1px solid rgb(175, 175, 175);
  font-size: 0.8125em;
  padding: 0 2px;
  width: 40px;
}
.box_11{
  cursor: pointer;
  padding: 5px 10px;
  background:#80b5e1;
}
.box_11 a:hover{
	text-decoration:none;
}
p.empty{
  font-size: 13px;
  margin: 6px 0 0 5px;
  float:right;
}
p.empty a{
  color: #000;
}
.box_11-cart{
   float:right;
}
.box_11 h4{
  border:none;
  color: #fff;
  font-size: 0.85em;
  margin-bottom: 0;
  padding:0;
}
.box_11 p{
	float:left;
	margin: 6px 0 0 0;
}
.box_11 h4 img{
  margin-left: 5px;
  float:left;
}
select.item_Size {
  border: 1px solid #999;
  font-size: 0.8125em;
  color: #000;
  padding:0px;
}
/*-- end scrollpane --*/
.grid1_of_4 {
  float: left;
  width: 23.22222%;
  margin-left: 2.33333%;
}
.grid1_of_4:first-child {
  margin-left: 0;
}
.content_box h5{
	color:#999;
	font-size:1.2em;
	line-height:1.5em;
	margin:1em 0 0.2em;
}
.content_box h6{
	color:#999;
	font-size:0.85em;
	line-height:1.5em;
	margin-bottom: 0;
}
.men_border{
	  border-bottom: 1px solid #EFEFEF;
}
/*--single--*/
.single_top {
	margin:3em 0;
}
ul.back{
	padding:0;
	list-style:none;
	margin-bottom:1em;
	border-bottom:1px solid rgb(208, 208, 208);
	padding-bottom:1em;
}
ul.back li{
	font-size:0.8125em;
	color:#999;
}
ul.back li a{
	color:#80b5e1;
}
i.back_arrow{
	width: 15px;
	height: 15px;
	float: left;
	background: url(../images/img_sprite.png)no-repeat -194px -14px;
}
.span_3_of_2 h1{
	color:#4a4a4a;
	font-size:1.5em;
	font-weight:600;
}
.price_single{
   margin: 1em 0 2em;
}
.head{
	float:left;
}
.head h2{
	color:#80b5e1;
	font-size: 2.5em;
	font-weight: bold;
}
.head_desc{
	float:right;
	margin-top: 15px;
}
.head_desc a{
	font-size:0.8125em;
	color:#999;
	margin-right: 1em;
}
.span_3_of_2 p{
	color:#999;
	font-size:0.85em;
	line-height:1.8em;
}
.metro1{
	position: relative;
	cursor: pointer;
	font-weight:600;
	background:#f4f4f4;
	color:#000;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.metro1.open{
	z-index: 2;
}
.metro1:hover,
.metro1.focus{
	color:#666;
}
/* OLD SELECT (HIDDEN) */
.metro1 .old{
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}
.metro1 select{
	position: absolute;
	left: 0px;
	top: 0px;
}
.metro1.touch select{
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
/* SELECTED FEEDBACK ITEM */
.metro1 .selected {
    color:#000;
}
.metro1 .selected,
.metro1 li{
	display: block;
	font-size:0.8125em;
	padding:10px 0px 10px 10px;
	overflow: hidden;
	white-space: nowrap;
	text-align: left;
	font-weight:500;
	text-transform:uppercase;
}
.metro1 .selected::after{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 18px;
	background: url(../images/img_sprite.png) no-repeat -223px -5px #e5e5e5;
}
.metro1:hover .selected::after,
.metro1.focus .selected::after{
	background:url(../images/img_sprite.png) no-repeat -223px -5px  #80b5e1;
}
/* DROP DOWN WRAPPER */
.metro1 div{
	position: absolute;
	height: 0;
	left: 0;
	right: 0;
	top: 100%;
	margin-top:1px;
	background:#fd926d;
	overflow: hidden;
	opacity: 0;
	color: #FFF;
}
/* Height is adjusted by JS on open */
.metro1.open div{
	opacity: 1;
	z-index: 2;
}
/* FADE OVERLAY FOR SCROLLING LISTS */
.metro1.scrollable div::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
}
.metro1.scrollable.bottom div::after{
	opacity: 0;
}
/* DROP DOWN LIST */
.metro1 ul{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	padding:0;
	list-style: none;
	overflow: hidden;
}
.metro1.scrollable.open ul{
	overflow-y: auto;
}
/* DROP DOWN LIST ITEMS */
.metro1 li{
	list-style: none;
	padding: 6px 10px;
	font-size:0.85em;
	font-weight: 400;
}
.metro1 li:last-child {
    border-bottom: 0;
}
/* .focus class is also added on hover */
.metro1 li:hover{
	background-color:#DD3E27;
}
.metro1 li.focus{
	background:#DD3E27;
	position: relative;
	z-index: 3;
	color:#FFF;
}
.metro1 li.active{
    background-color:#ff9f00;
	color: #fff;
}
.dropdown_top{
	border-bottom: 1px solid rgb(208, 208, 208);
	border-top: 1px solid rgb(208, 208, 208);
	padding: 1em 0;
	margin: 2em 0;
}
.dropdown_left{
	float:left;
	width:35%;
}
ul.color_list {
	padding:0;
	list-style:none;
	float:right;
	margin-top: 7px;
}
ul.color_list li {
	display:inline-block;
}
span.color1 {
	background:#efebe2;
	padding: 5px 14px;
}
span.color2 {
	background:#c9c1c6;
	padding: 5px 14px;
}
span.color3 {
	background:#b29b88;
	padding: 5px 14px;
}
span.color4 {
	background:#968886;
	padding: 5px 14px;
}
span.color5 {
	background:#cde0ef;
	padding: 5px 14px;
}
.single_social_top{
	border-bottom: 1px solid rgb(208, 208, 208);
	border-top: 1px solid rgb(208, 208, 208);
	padding: 1em 0;
	margin:3em 0;
}
ul.single_social{
	list-style: none;
	width:88%;
	margin: 0 auto;
	padding:0;
}
ul.single_social li{
	display:inline-block;
	margin-right:13%;
}
ul.single_social li.last{
	margin-right:0;
}
ul.single_social li a i {
	  width: 58px;
	  height: 53px;
	  float: left;
	  background: url(../images/img_sprite.png)no-repeat;
	  margin-right: 10px;
}
ul.single_social li a i.s_fb {
	background-position:-9px -73px;
}
ul.single_social li a i.s_twt {
	background-position:-77px -73px;
}
ul.single_social li a i.s_google {
	background-position:-143px -73px;
}
ul.single_social li a i.s_email {
	background-position:-208px -73px;
}
.social_desc{
	font-size: 12px;
	text-transform: uppercase;
	float: left;
	margin-top: 8px;
}
ul.single_social li a{
	color: #000;
}
ul.single_social li a:hover {
	display: block;
	color:#fd926d;
}
.menu_drop {
	width: auto;
	height: auto;
	padding: 0;
	list-style: none;
}
ul.menu_drop li.item1{
	background:#FDA5AA;
}
ul.menu_drop li.item1 img, ul.menu_drop li.item2 img, ul.menu_drop li.item3 img, ul.menu_drop li.item4 img, ul.menu_drop li.item5 img{
	margin: -3px 10px 0 0;
}
ul.menu_drop li.item2{
	background:#FC9096;
}
ul.menu_drop li.item3{
	background:#FD7179;
}
ul.menu_drop li.item4{
	background:#FA5C65;
}
ul.menu_drop li.item5{
	background:#80b5e1;
}
ul {
	padding: 0;
	list-style: none;
}
.menu_drop > li > a {
	width: 100%;
	height: 4em;
	line-height: 4em;
	text-indent: 1.2em;
	display: block;
	position: relative;
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
}
.menu_drop ul li a {
	background: #fff;
	width: 100%;
	height: 5em;
	line-height: 1.8em;
	display: block;
	position: relative;
	font-size:0.85em;
	font-weight: 400;
	color: #878d95;
}
.menu_drop > li > a:hover, .menu > li > a.active {
	background:#7f7e7e;
}
.m_4{
	margin:3em 0 1em;
}
.m_4 p{
	color:#000;
	font-size:1em;
	text-transform:uppercase;
	font-weight:bold;
}
span.left_line2 {
	height: 1px;
	width:44%;
	display: block;
	background: rgb(208, 208, 208);
	position: absolute;
	left: 0;
	bottom: 10px;
}
span.right_line2 {
	height: 1px;
	width:44%;
	display: block;
	background: rgb(208, 208, 208);
	position: absolute;
	right: 0;
	bottom: 10px;
}
.images_3_of_2 {
  width: 26.2%;
  float: left;
  margin-right: 2.6%;
}
.span_3_of_2 {
  width: 70.3333%;
}
.desc1 {
  display: block;
  float: left;
}
h3.m_2{
	text-align:center;
	margin:3em 0 2em;
	color: #656363;
  font-size: 1.5em;
  text-transform: uppercase;
}
/*--about--*/
.about_left h1{
	color: #656363;
  font-size: 1.1em;
  text-transform: uppercase;
  margin-bottom:1em;
}
.about_left img{
	margin-bottom:1em;
}
.about_left p{
	color:#999;
	font-size:0.95em;
	line-height:1.8em;
}
.faqs{
	margin-top:2em;
}
.faqs h2{
	color: #656363;
   font-size: 1.1em;
  text-transform: uppercase;
  margin-bottom:1em;
}
.questions {
	margin-bottom:2em;
}
.questions h3{
	color:#555;
	font-size:1.1em;
}
.sidebar h2 {
  font-size: 25px;
  color: #2D53C2;
  padding: 5px 0;
}
.testimonials {
  padding-top: 18px;
  position: relative;
}
.sidebar p {
  font-size: 0.9em;
  padding: 1.5em 0 0 0;
  color: #999;
  line-height: 1.8em;
  text-indent: 35px;
  font-style: italic;
}
.testimonials span.quotes {
  position: absolute;
  left: 0;
  top: 55px;
  width: 30px;
  height: 28px;
  background: url(../images/quotes.png) no-repeat;
}
.sidebar h2{
  color: #656363;
  font-size: 1.1em;
  text-transform: uppercase;
  margin-bottom: 1em;
}
.sidebar h3 {
  color: #555;
  margin-bottom: 0.5em;
  font-size: 0.9em;
  font-weight:600;
  margin-top: 0px;
}
.sidebar h3 span a {
  color: #00A1DA;
  font-size: 0.9em;
  cursor: pointer;
  text-decoration: underline;
  font-weight: normal;
  padding-left: 10px;
  text-transform: lowercase;
}
.sidebar h3 span a:hover{
	text-decoration:none;
}
/*--404--*/
.error-404{
	min-height:500px;
}
.error-404 h1 {
  font-size: 12em;
  font-weight: 700;
  color:#80b5e1;
  text-transform: uppercase;
}
.error-404 p {
  color: #4f4844;
  font-size: 1.2em;
  text-transform: uppercase;
}
a.b-home {
  background: #000;
  padding: 0.8em 1.5em;
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  margin-top: 1em;
  -webkit-appearance: none;
}
a.b-home:hover{
	background:#80b5e1;
}
/*--contact--*/
.map {
  margin-bottom: 5em;
}
.map iframe {
  width: 100%;
  min-height: 400px;
  border: none;
}
.contact_left h1 {
  color: #656363;

  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom:1em;
}
.contact_left p{
	color:#999;
	font-size:0.95em;
	line-height:1.8em;
	margin-bottom:1em;
}
.column_2 input[type="text"] {
  padding: 10px;
  font-size: 1em;
  margin: 10px 0;
  border: 1px solid #DDDDDD;
  color: #BDBDBD;
  background: none;
  float: left;
  outline: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  width: 31.5%;
  -webkit-appearance: none;
}
.column_3 input[type="text"], .column_3 textarea {
  width: 100%;
  font-size: 1em;
  margin: 10px 0;
  border: 1px solid #DDDDDD;
  color: #BDBDBD;
  outline: none;
  background: none;
  height: 200px;
  padding: 10px;
  resize: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-appearance: none;
}
.form-submit1 input[type="submit"] {
  background:#80b5e1;
  padding: 12px 30px;
  display: inline-block;
  color: #FFF;
  text-transform: uppercase;
  font-size: 1em;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  border: none;
  cursor: pointer;
  outline: none;
  float:right;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
}
.form-submit1 input[type="submit"]:hover{
	background:#000;
}
.contact_right h2{
	color: #656363;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 1em;
}
/*--login--*/
.login-left h3, .login-right h3 {
	color:#80b5e1;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 600;
	padding-bottom: 0.5em;
}
.login-left p, .login-right p {
	color:#999;
	display: block;
	font-size:0.85em;
	margin: 0 0 1.5em 0;
	line-height: 1.8em;
}
.acount-btn {
	background:#80b5e1;
	color: #FFF;
	font-size: 0.8em;
	padding: 0.7em 1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
}
.acount-btn:hover, .login-right input[type="submit"]:hover{
	background:#000;
	text-decoration:none;
	color:#fff;
}
.login-right form {
	padding: 1em 0;
}
.login-right form div {
	padding: 0 0 1.5em 0;
}
.login-right span {
	color: #999;
	font-size:0.85em;
	padding-bottom: 0.2em;
	display: block;
}
.login-right input[type="text"] {
	border: 1px solid #DDDBDB;
	outline-color:#fb4d01;
	width: 96%;
	font-size:0.8125em;
	padding:10px;
}
.login-right input[type="submit"] {
	background:#80b5e1;
	color: #FFF;
	font-size: 0.8em;
	padding: 0.7em 1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	border:none;
	outline:none;
}
.login-right input[type="submit"]:hover{
	background:#000;
}
a.forgot {
	font: 300 14px/25px Lato, sans-serif;
}
h4.title {
	color: #000;
	margin-bottom: 0.5em;
	font: 300 18px/25px Lato, sans-serif;
	text-transform: uppercase;
	border-bottom: 1px solid #DFDDDD;
	padding-bottom: 13px;
}
p.cart {
	color: #999;
	line-height: 1.8em;
	font: 300 16px/25px Lato, sans-serif;
}
/*--register--*/
.register-top-grid h3, .register-bottom-grid h3 {
	color:#df1f26;
	font-size: 1em;
	padding-bottom: 5px;
	margin: 0;
	font-weight:600;
}
.register-top-grid div, .register-bottom-grid div {
	width: 48%;
	float: left;
	margin: 10px 0;
}
.register-top-grid span, .register-bottom-grid span {
	color:#999;
	font-size:0.85em;
	padding-bottom: 0.2em;
	display: block;
}
.register-top-grid input[type="text"], .register-bottom-grid input[type="text"] {
	border: 1px solid #EEE;
	outline-color:#FF5B36;
	width: 96%;
	font-size: 1em;
	padding: 0.5em;
}
.checkbox {
	margin-bottom: 4px;
	padding-left: 27px;
	font-size: 1.1em;
	line-height: 27px;
	cursor: pointer;
}
.checkbox {
	position: relative;
	font-size:0.85em;
	color:#555;
}
.checkbox:last-child {
	margin-bottom: 0;
}
.news-letter {
	color: #555;
	font-weight:600;
	font-size: 0.85em;
	margin-bottom: 1em;
	display: block;
	text-transform: uppercase;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	clear: both;
}
.checkbox i {
	position: absolute;
	bottom: 5px;
	left: 0;
	display: block;
	width:20px;
	height:20px;
	outline: none;
	border: 2px solid #D2CF99;
}
.checkbox input + i:after {
	content: '';
	background: url("../images/tick1.png") no-repeat 1px 2px;
	top: -1px;
	left: -1px;
	width: 15px;
	height: 15px;
	font: normal 12px/16px FontAwesome;
	text-align: center;
}
.checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.checkbox input {
	position: absolute;
	left: -9999px;
}
.checkbox input:checked + i:after {
	opacity: 1;
}
.news-letter:hover {
	color:#00BFF0;
}
.register-but{
	margin-top:1em;
}
.register-but form input[type="submit"] {
	background:#df1f26;
	color: #FFF;
	font-size: 0.8em;
	padding: 0.8em 2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	border:none;
	outline:none;
}
.register-but input[type="submit"]:hover {
	background:#000;
}
.register-bottom-grid {
	margin-top:3em;
}
/*--checkout--*/
.cart h2{
	font-size:1.5em;
	margin-bottom:1em;
}
.cart-items{
	width: 70%;
  margin-right: 5%;
}
.cart-sec{

	margin-bottom:3em;
}
.cart-item{
	width:20%;
	float:left;
	margin-right:5%;

}
.cart-item img{
	width:100%;
}
.cart-item-info{
	width:75%;
	float:left;

}
.check{
	padding:5em 0;
}
.cart-item-info h3{
	font-size:1em;
	font-weight:600;
}
.cart-item-info h3 a{
	color:#000;
}
.cart-item-info h3 span{
	display:block;
	font-weight:400;
	font-size:0.75em;
	margin-top:3px;
}
.size_3 {
  width:100%;
}
.delivery {
  margin-top: 3em;
}
.delivery p {
  color: #A6A6A6;
  font-size: 1em;
  font-weight: 400;
  float: left;
}
.delivery span {
  color: #A6A6A6;
  font-size: 1em;
  font-weight: 400;
  float: right;
}
.cart-item-info h4 span{
	font-size:0.65em;
	font-weight:400;
}

.close1,.close2{
  background: url('../images/close_1.png') no-repeat 0px 0px;
  cursor: pointer;
  width: 28px;
  height: 28px;
  position: absolute;
  right: 0px;
  top: 0px;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.cart-header {
  position: relative;
}
.cart-header2 {
  position: relative;
}
.cart-total {

}
a.order {
  background:#333;
  padding: 10px 20px;

  font-size: 1em;
  color: #fff;
  text-decoration: none;
  display: block;
  font-weight: 600;
  text-align: center;
  margin:3em 0;
}
a.order:hover{
	background:orange;
}
.total-item{
	margin-top:2em;
	padding-bottom:2em;
}
.total-item h3 {
  color: #333;
  font-size: 1em;
  margin-bottom: 1em;
}
.total-item h4{
	font-size:0.8em;
	font-weight:600;
	color:#9C9C9C;
	display:inline-block;
	margin-right:10%;
}
a.cpns{
	background:#80b5e1;
	color:#fff;

	padding: 10px;
  font-size: 0.8em;
	font-weight:600;
}
a.cpns:hover{
	background:rgb(3, 193, 167);
}
.total-item p{
	font-size:0.9em;
	font-weight:400;
	margin-top:1em;
	color:#727272;
}
.total-item p a:hover{
	color:#333;
	text-decoration:underline;
}
a.continue{
	background:orange;
	padding:10px 20px;

	font-size:1em;
	color:#fff;
	text-decoration:none;
	display: block;
   font-weight: 600;
   text-align: center;
   margin-bottom:2em;
}
a.continue:hover{
	background:#333;
}
ul.total_price{
	padding: 0;
  margin: 1em 0 0 0;
  list-style: none;
}
ul.total_price li.last_price{
	width: 50%;
  float: left;

}
ul.total_price li.last_price span{
	font-size: 1.1em;
  color: #000;
}
.price-details{
	border-bottom: 1px solid #DDD9D9;
  padding-bottom: 10px;
}
.price-details h3{
	color:#000;
	font-size:1.1em;
	margin-bottom:1em;
}
.price-details span{
	width: 50%;
  float: left;

  font-size: 0.8125em;
  color: #000;
  line-height: 1.8em;
}


.cart-items h1 {
  font-size: 1.5em;
  margin-bottom:2em;
}
a.item_add1 {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-right-radius: 0;
  /* border-bottom-right-radius: 50%; */
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 10px 15px;
  background:#80b5e1;
}
a.item_add1:hover{
	background:rgb(3, 193, 167);
	text-decoration:none;
	color:#fff;
}
.btn_5{
	padding:25px 40px;
	font-size:1.1em;
}
ul.qty{
	padding:0;
	margin:0;
	list-style:none;
}
ul.qty li{
   display: inline-block;
   margin-right: 10%;
}
ul.qty li p{
	font-size:0.8125em;
	color:#555;
}
/*--index_single--*/
p.m_10 {
   color: #999;
   font-size: 0.95em;
   line-height: 1.8em;
   padding: 2% 0;
}
p.m_11 {
	color: #999;
    font-size: 0.95em;
    line-height: 1.8em;
}
ul.list {
  margin: 30px 0 0 0;
  padding: 3em 0 0;
  list-style: none;
}
.list li {
  padding-bottom: 30px;
}
.preview {
  float: left;
  width:9%;
  margin-right: 3%;
}
.preview img, .preview1 img{
	border:1px solid #E7E7E7;
}
.data {
  float: left;
  width: 88%;
}
li.middle {
  padding: 0 0px 0 14%;
  margin-bottom: 30px;
}
.preview1 {
  float: left;
  width: 13%;
  margin-right: 3%;
}
.data-middle {
  float: left;
  width: 83%;
}
.data p, .data-middle{
  color: #999;
  font-size:0.95em;
  font-weight: 500;
  line-height: 1.8em;
  margin-bottom: 1.5em;
}
.title {
  color: #000;
  font-size: 1em;
  margin: 0 0 10px 0;
}
.title a {
  color:#80b5e1;
}
.comments-area {
	margin-top: 4em;
}
.comments-area h3 {
	font-size:1.5em;
	color: #555;
	text-transform: uppercase;
	margin-bottom: 0.5em;
}
.comments-area p {
	position: relative;
	padding: 8px 0;
	margin: 0;
}
.comments-area label {
	display: block;
	color: #999;
	font-weight: 500;
	font-size: 0.85em;
}
.comments-area span {
	color: #e4411b;
	position: absolute;
	left: 4px;
	top: 30px;
}
.comments-area input[type="text"] {
	padding: 15px 20px;
	width:80%;
	color: #999;
	font-size: 13px;
	border: none;
	background: #f0f0f0;
	outline: none;
	display: block;
	-webkit-appearance: none;
}
.comments-area textarea {
	padding: 15px 30px;
	width:80%;
	color: #999;
	font-size: 13px;
	outline: none;
	height: 200px;
	display: block;
	border: none;
	background: #f0f0f0;
	-webkit-appearance: none;
}
.comments-area input[type="submit"] {
	padding: 15px 20px;
	color: #fff;
	background:#80b5e1;
	font-size: 1em;
	border: none;
	outline: none;
	cursor: pointer;
	text-transform: uppercase;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.comments-area input[type="submit"]:hover {
	background:rgb(3, 193, 167);
	-webkit-transform: rotateY(-15deg);
	-moz-transform:  rotateY(-15deg);
	-ms-transform:  rotateY(-15deg);
	transform:  rotateY(-15deg);
}
/*--responsive design--*/
@media (max-width:1366px){
.icon1 ul {
	right:-60px;
	top:73px;
}
}
@media (max-width:1280px){
.icon1 ul {
	right: -50px;
}
ul.icon1.sub-icon1.profile_img {
	margin-left: 0;
}
.date-comments, .data-comments {
 	top: -70px;
  	left: -20px;
	min-width: 100px;
	min-height: 100px;
}
.date-comments .comments {
  padding-top: 10px;
  margin-top: 10px;
}
.banner {
	min-height: 400px;
}
.banner_desc {
  padding-top: 7em;
}
.banner_desc h1 {
 	font-size: 3em;
}
.banner_desc h2 {
	font-size: 1.6em;
}
.button a {
  	padding: 10px 30px;
	font-size: 1.1em;
}
ul.list_1 {
	padding: 0 15% 0 0;
}
.row_5 {
  padding: 4% 6% 0 5%;
}
.images_3_of_2 {
  width: 29.2%;
  margin-right: 2.6%;
}
.span_3_of_2 {
  width: 66.3333%;
}
ul.single_social li {
  margin-right: 9%;
}
.col-xs-7 {
  width: 67.333333% !important;
}
.icon1 ul {
  right: -10px;
}
.header-bottom-right {
  padding-left: 0;
}
.box_11 {
  padding: 5px;
}
.search input[type="text"] {
  width: 110px;
}
.search input[type="text"]:focus{
	width:100px;
}
.logo{
   width: 20.666667%;
}
.menu {
  width: 79% !important;
}
}
@media (max-width:920px){
.col-xs-9.header-bottom-left {
  width: 66%;
}
.col-xs-7 {
  width: 68.333333% !important;
  float: left;
}
.search input[type="text"] {
  width: 60px;
}
.search input[type="text"]:focus{
	width:50px;
}
.logo h1 {
   font-size: 1.3em;
}
.logo {
  width: 22.666667%;
}
.menu {
  width: 77% !important;
}
.row_3 {
	margin-top: 3em;
}
.box_11 h4 img {
  margin-left: 2px;
}
.box_11 p {
  font-size: 12px;
}
.row_2, .blog_1{
	  width:80%;
	  margin-right: 0;
}
.row_2{
	margin-top:7em;
}
.w_sidebar {
  margin-top: 3em;
}
.images_3_of_2 {
  width: 39.2%;
  margin-right: 2.6%;
}
.span_3_of_2 {
  width: 57.3333%;
}
ul.single_social li {
  margin-right: 2%;
}
.col-md-3.contact_right {
  margin-top: 2em;
}
}
@media (max-width:768px){
.header_bottom {
  padding: 1em 0;
}
.col-xs-8.header-bottom-left {
  width: 50.666667%;
}
.logo {
  width: 31.666667%;
}
.col-xs-4.header-bottom-right {
  width: 45.333333%;
}
.search input[type="text"] {
  width: 110px;
}
.search input[type="text"]:focus{
	width:100px;
}
.menu {
  width: 45% !important;
}
.col-xs-7 {
  margin-top: -6px;
}
.banner {
  min-height: 350px;
}
.banner_desc h1 {
  font-size: 2.5em;
}
.banner_desc h2 {
  font-size: 1.3em;
}
.banner_desc {
  padding-top: 6em;
}
.date-comments, .data-comments {
  left: -6px;
}
}
@media (max-width:736px){
.header-bottom-left {
  width: 100% !important;
}
.col-xs-4.header-bottom-right {
  width: 100%;
}
.logo {
  width: 29.666667% !important;
}
.menu {
  width: 70% !important;
}
.images_3_of_2 {
  width: 100%;
  margin-right: 0;
  float:none;
}
.span_3_of_2 {
  width: 100%;
  float: none;
}
ul.single_social {
  list-style: none;
  width: 100%;
}
.grid1_of_4 {
  float: left;
  width: 47%;
  margin-left: 0;
}
.check {
  padding: 2em 0;
}
.cart-items {
  width: 100%;
  margin-right: 0;
}
.cart-items h1 {
  font-size: 1.3em;
  margin-bottom: 1em;
}
a.order {
  margin: 2em 0;
}
}
@media (max-width:568px){
.logo {
  	width: 33.666667% !important;
}
.menu {
  width: 66% !important;;
}
.error-404 h1 {
  font-size:3em;
}
.delivery span {
  float: left;
}
.delivery p, .delivery span {
  font-size: 0.85em;
}
.delivery {
  margin-top: 1em;
}
a.continue {
  padding: 8px 10px;
  font-size: 0.85em;
  margin-bottom: 2em;
}
.total-item {
  margin-top: 0em;
  padding-bottom: 0;
}
.preview {
  width: 20%;
}
.data {
  width: 77%;
}
.preview1 {
  width: 20%;
}
li.middle {
  padding: 0 0px 0 5%;
  margin-bottom: 30px;
}
.data-middle {
  float: left;
  width: 77%;
}
.data p, .data-middle {
  font-size: 0.85em;
}
p.m_11, p.m_10{
  font-size: 0.85em;
}
ul.list {
  margin: 30px 0 0 0;
  padding: 1em 0 0;
}
.comments-area {
  margin-top: 2em;
}
.comments-area h3 {
  font-size: 1.2em;
}
.list li {
  padding-bottom: 20px;
}
.comments-area input[type="submit"] {
  padding: 10px 10px;
  font-size: 0.85em;
}
}
@media (max-width:414px){
.logo {
  	width: 46.666667% !important;
}
.menu {
  width: 53% !important;;
  float: right;
}
.search input[type="text"] {
  width:80px;
  font-size:0.8125em;
  padding:5px 5px 7px 5px;
}
.search input[type="submit"] {
  background: url("../images/search1.png") no-repeat 5px 2px;
  width: 30px;
  height: 28px;
  padding: 2px;
}
.box_11 {
  padding: 2px 5px;
}
.footer_bottom {
  padding: 1em 0;
}
p.empty {
  font-size: 12px;
  margin: 4px 0 0 5px;
}
.size_2 {
  width: 70%;
}
.cart-item-info h3 {
  font-size: 0.9em;
}
.title {
  font-size: 0.8125em;
}
.comments-area {
  margin-top: 0em;
}
.comments-area input[type="text"], .comments-area textarea{
  padding: 10px 10px;
  width: 100%;
}
.comments-area textarea{
	height: 100px;
}
li.middle {
  margin-bottom: 0;
}
}
@media (max-width:320px){
.logo h1 {
  font-size: 1.1em;
}
.header_bottom {
  padding:0.5em 0;
}
.container{
	padding:0 10px !important;
}
.header-bottom-left {
  width: 100% !important;
}
.one-fifth select {
  padding: 5px 0px 5px 0;
}
.header-bottom-left {
  width: 100% !important;
  padding: 0 !important;
}
.menu {
  width: 53%;
  float: right;
  padding-right: 0;
  top: -5px;
}
.logo {
 	margin-top:0px;
}
.banner_desc h1 {
	font-size: 1.4em;
}
.banner_desc h2 {
  font-size: 13px;
  letter-spacing: 2px;
}
.button a {
  padding: 8px 20px;
  font-size: 0.85em;
}
.banner {
  min-height:150px;
}
.banner_desc {
  padding-top: 4em;
}
.button {
	margin-top: 1em;
}
.banner_desc {
  padding-top:1.5em;
}
.content_top, .content_bottom {
  padding: 3em 0;
}
h3.m_1 {
  font-size: 1.1em;
  margin-bottom: 1em;
}
.col-md-7, .col-md-5, .col-md-4, .col-md-9, .col-md-8, .col-md-6 {
  padding: 0;
}
.shop-holder {
  border: 3px solid #ebebeb;
}
.col_1_of_3:hover .shop-holder{
	border: 3px solid #80b5e1;
}
.shop-holder .product-img a:last-child {
	bottom: -9px;
}
.shop-content h3 {
  font-size: 14px;
}
.shop-content > div a {
  font-size: 13px;
}
h2.m_3 {
  font-size: 1.2em;
  margin-bottom: 4.5em;
}
.date-comments, .data-comments {
  left: 1px;
}
.date-comments, .data-comments {
	padding: 10px;
}
.row_2, .blog_1 {
  width: 100%;
  margin-right: 0;
}
.row_4 {
   min-height: 150px;
}
.row_5 {
  padding: 7% 0 0 0;
}
.box_3 h3 {
	margin-bottom: 0.5em;
}
.footer {
	padding-top: 2em;
}
.box_3{
	margin-bottom:1em;
}
.footer_top {
  margin-bottom: 0;
}
.women_main {
  padding: 2em 0;
}
.grid1_of_4 {
  width: 48.22222%;
  margin-left:0;
}
.content_box h6 {
  font-size: 0.8125em;
}
.single_top {
  margin: 3em 0 0;
}
.about_left h1 {
  font-size:0.95em;
}
.about_left p {
  font-size: 0.85em;
}
.testimonials {
  padding-top: 0px;
}
h3.m_2 {
  margin: 2em 0 1em;
  font-size: 1.2em;
}
.map iframe {
  min-height:150px;
}
.map {
  margin-bottom: 2em;
}
.contact_left h1 {
  font-size: 1.2em;
} 
.column_3 input[type="text"], .column_3 textarea {
 	height: 120px;
}
.form-submit1 input[type="submit"] {
  padding: 8px 15px;
  font-size: 0.85em;
}  
.contact_right h2 {
  font-size: 1.2em;
}  
.register-top-grid div, .register-bottom-grid div {
  width: 100%;
  float: none;
  margin: 10px 0;
}
ul#etalage {
	width: 291px !important;
}
.logo {
  width: 34.666667% !important;
}
a.b-home {
 padding: 0.3em 0.5em;
}
}

